.btn-orange{
    background-color: darkorange !important;
    color: white !important;
}

.btn-orange:hover{
    background-color: orange !important;
}

.btn-orange:focus{
    background-color: darkorange !important;
}