.active,
.active:focus,
.active:hover {
    background-color: rgb(221 229 218);
    color: black;
    border: thin solid olivedrab;
}

P.list-group-item-text{
    color: rgba(51, 138, 17, 0.658) !important;
}


.active>.pull-left>P.list-group-item-text{
    color: rgba(255, 153, 0, 0.884) !important;
}

.recipe:hover {
    background-color: rgb(241, 247, 239) !important;
}

.recipe:focus {
    background-color: rgb(221 229 218) !important;
}