<!-- <a  href="#" class="list-group-item clearfix" (click)="itemSelected()" [ngStyle]="{'background-color':(selectedRecipe===recipe) ?'rgb(221 229 218)':'inherit'}"> -->
<a  class="list-group-item clearfix recipe" (click)="itemSelected()" [ngClass]="{'selectedrecipe':(selectedRecipe===recipe)}">
    <div class="pull-left">
        <h4 class="list-group-item-heading">{{recipe.name}}</h4>
        <p class="list-group-item-text">{{recipe.description}}</p>
    </div>
    <span class="pull-right">
        <img [src]="recipe.imagePath" [alt]="recipe.name" class="img-circle img-responsive" style="width: 60px;height:60px;">
    </span>
</a>
